* {
	margin: 0;
  font-family: Montserrat;
	font-weight: normal;
}

.wrap {
  position: relative;
	min-width: 320px;
	max-width: 1440px;
	margin: 0 auto;
}

/* site header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 60px 58px 42px;
}

.models-nav {
	display: flex;
	justify-content: space-between;
	width: 489px;
}

.models-nav__item {
  font-weight: 600;
  font-size: 15px;
  color: #000000	;
  text-decoration: none; 
}

.models-nav__item:after {
  content: "";
  background: url(../images/active-line.svg) bottom no-repeat;
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 6px;
}

.models-nav__item:hover {
	color: #E51937;
}

.models-nav__item:hover:after {
	width: 100%;
}

.models-nav__item-active {
	color: #E51937;
}

.models-nav__item-active:after {
  content: "";
  background: url(../images/active-line.svg) bottom no-repeat;
  display: block;
  width: 100%;
  height: 2px;
  position: relative;
  top: 6px;
}

.site-nav {
	display: flex;
	justify-content: space-between;
	width: 203px;
}

.site-nav__item {
  font-weight: 600;
  font-size: 15px;
  color: #000000	;
  text-decoration: none; 
}

.site-nav__item:after {
	content: "";
  background: url(../images/active-line.svg) bottom no-repeat;
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 6px;
}

.site-nav__item:not(:nth-child(3)):hover{
	color: #E51937;
}

.site-nav__item:not(:nth-child(3)):hover:after{
	width: 100%;
}


.site-nav__item:nth-child(3) {
	content: "";
	display: block;
	width: 24px;
	height: 15px;
	background: url("../images/side_menu.svg");
	background-size: 100% 100%;
}

/* preview section */

.preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../images/tesla-big-logo.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	position: relative;
}

.preview__title {
	font-weight: 600;
  font-size: 90px;
  margin-bottom: 35px;
}

.preview__subtitle {
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  top: 100px;
}

.preview__general-view {
	margin-bottom: 26px;
}

.preview__about {
	display: flex;
	flex-direction: row;
	margin-bottom: 34px;
}

.feature-wraper {
  display: flex;
  flex-direction: row;
  margin-right: 105px;
}

.feature {
  display: flex;
	align-items: center;
}

.feature:nth-child(1){
	margin-right: 81px;
}

.feature__image_speepometer {
	margin-right: 14px;
}

.feature__image_road {
	margin-right: 11px;
	padding-top: 8px;
}

.feature__parameters-sd {
	display: flex;
	flex-direction: column;
}

.feature__parameters-rd {
	display: flex;
	flex-direction: column;
}

.speed {
	display: flex;
	flex-direction: row;
}

.road {
	display: flex;
	flex-direction: row;
}

.speed__value, 
.road__value {
	font-weight: 600;
	font-size: 35px;
	margin-right: 7px;
}

.speed__unit,
.road__unit {
	font-weight: 600;
	font-size: 20px;
	align-self: flex-end;
	margin-bottom: 5px;
}

.explanation_speed,
.explanation_road {
	font-weight: normal;
	font-size: 12px;
}

.testdrive {
	display: flex;
	align-items: center;
}

.testdrive__wheel {
	margin-right: 7px;
}

.testdrive__name {
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	color: #000000;
  text-decoration: none;
  margin-right: 40px;
}

.testdrive__order {
	color: #E51937;
	width: 160px;
	height: 40px;
  padding: 0;
	border: 2px solid;
	background: #FFFFFF;
}

.testdrive__order:hover{
	background: #E51937;
	color: #FFFFFF;
}

.testdrive__order-text {
	font-weight: bold;
	font-size: 13px;
}

.preview__arrow {
	margin-bottom: 34px;
}

/* info section */
.info{
	display: flex;
}

.info__title {
	width: 100%;
	padding-top: 63px;
	padding-left: 80px;
	background-image: url("../images/2013-tesla-model-s-cockpit.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	font-size: 70px;
	font-weight: 600;
	color: #E51937;
}

.info__advantages {
	display: flex;
	flex-direction: column;
	padding: 51px 41px 63px 52px;
	color: #ffffff;
	background-color: #E51937;
}

.advantages-title {
	font-weight: 600;
  font-size: 30px;
  margin-bottom: 11px;
}

.topic-about-advantages {
	font-weight: 500;
  font-size: 15px;
  margin-bottom: 56px;
  width: 316px;
  line-height: 18px;
}

.info__advantages__wrap-odds {
	margin-bottom: 170px;
}

.odds {
	display: flex;
	align-items: center;
}

.odds:nth-child(1){
	margin-bottom: 28px;
}

.odds:nth-child(2){
	margin-bottom: 17px;
}

.odds__image {
	margin-right: 19px;
	padding-top: 18px;
}

.wifi_image {
	margin-right: 17px;
	padding-top: 6px;
}

.cap_image {
	margin-right: 25px;
}

.odds__text-wrap {
	display: flex;
	flex-direction: column;
}

.odds__text-wrap-cap {
	padding-top: 9px;
}

.odds__text-wrap-measure {
	display: flex;
	flex-direction: row;
}

.text-wrap__count {
	margin-right: 10px;
  font-size: 35px;
  font-weight: 600;
}

.text-wrap__value {
  font-size: 20px;
  font-weight: 600;
  align-self: center;
  padding-top: 10px;
  line-height: 18px;
}

.text-wrap__explanation {
  font-weight: normal;
  font-size: 12px;
}

.links {
	width: 347px;
	height: 40px;
	display: flex;
	flex-direction: row;
}

.links-wrap {
	display: flex;
	flex-direction: row;
	margin-right: 26px;
}

.links-wrap__image {
	margin-right: 6px;
}

.links-wrap__info {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  align-self: center;
}

.links__order {
	width: 160px;
	height: 40px;
  border: 2px solid;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  background-color: #E51937;
  border-color: #ffffff;
}

/* safe section */

.safe {
  display: flex;
}

.safe__scoring {
  display: flex;
  flex-direction: column;
  width: 344px;
  padding: 51px 40px 60px 56px;
  color: #ffffff;
  background-color: #E51937;
}

.safe__scoring__text-wrapper{
	margin-bottom: 56px;
}

.scoring-title {
	margin-bottom: 13px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.topic-about-safe {
	width: 316px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.safe__scoring__rate-wrapper {
	margin-bottom: 59px;
}


.rating-title {
	margin-bottom: 23px;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 25px;
}

.rate-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.rate-wrapper:nth-child(6) {
	margin-bottom: 98px;
}

.safe-rate {
	display: flex;
  flex-direction: row;
}

.safe-rate__text {
	font-weight: bold;
  width: 122px;
  font-size: 17px;
  margin-right: 31px;
  padding-top: 4px;
}

.safe-rate__text-small{
	font-weight: bold;
  font-size: 10px;
  opacity: 0.7;
}

.safe-rate__wrapper {
	display: inline-block;
  width: 160px;
}

.star {
  width: 25px;
  height: 25px;
}

.general-rating-safe {
  display: flex;
  flex-direction: row;
}


.general-rating-safe__image{
	padding-left: 10px;
	padding-top: 10px;
	margin-right: 23px;
}

.general-rating-safe__text{
	position: relative;
}

.general-rating-safe__value {
	font-size: 50px;
	font-weight: 600;
}

.general-rating-safe__safety {
	font-weight: 600;
	font-size: 25px;
	position: absolute;
	bottom: 3px;
}

.safe__image-wrapper {
  width: 100%;
  position: relative;
}

.safe__image-wrapper {
	background-image: url("../images/model-s.png");
	background-repeat: no-repeat;
	background-position: 100% 19%;
	background-size: 80% auto;
}

.safe-image {
  width: 105%;
  position: absolute;
  top: 170px;
  right: 46px;
}

/* footer */

.footer-wrap {
  position: absolute;
  bottom: 10px;
  right: 18px;
  font-family: 'Montserrat';
}

.developed {
  margin-bottom: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 9px;
}

/* Медиазапросы */

@media (max-width: 480px) {
    
	header {
		margin: 5px 21px 30px 2px;
	}

	.models-nav {
		display: none;
	}

	.site-nav {
		width: 24px;
	}

	.site-nav__item:nth-child(1) {
		display: none;
	}

	.site-nav__item:nth-child(2) {
		display: none;
	}

	.site-nav__item:nth-child(3) {
		width: 24px;
		height: 15px;
		background: url("../images/side_menu.svg");
	}

	.header-logo {
		width: 138px;
		height: 42px;
	}

	/* preview section */

	.preview{
		background-position: 55% 23%;
		background-size: 114% auto;
	}

	.preview__title {
		font-size: 50px;
		margin-bottom: 56px;
	}

	.preview__subtitle {
		font-size: 10px;
		top: 58px;
	}

	.preview__general-view {
		width: 95%;
	}

	.preview__about {
		flex-direction: column;
		margin-bottom: 30px;
	}

	.feature-wraper {
		margin-right: 0;
		margin-bottom: 42px;
		padding-left: 10px;
	}

	.feature:nth-child(1) {
		margin-right: 43px;
	}

	.feature:nth-child(2) {
		margin-right: 20px;
	}

	.feature__image_speepometer {
		width: 38px;
		height: 28px;
	}

	.feature__image_road {
		margin-right: 7px;
		width: 25px;
		height: 41px;
	}

	.speed__value, 
	.road__value {
		font-size: 27px;
	}

	.speed__unit,
	.road__unit {
		font-size: 15px;
	}

	.explanation_speed,
	.explanation_road {
    font-weight: normal;
    font-size: 10px;
	}

	.feature__parameters-rd {
		margin-left: 5px;
	}

	.testdrive {
		display: flex;
		align-items: center;
		padding-left: 5px;
	}

	.testdrive__order {
		color: #E51937;
		background: #E51937;
	}

	.testdrive__order-text {
		font-weight: bold;
		font-size: 13px;
		margin-left: 2px;
		color: #FFFFFF;
	}

	.testdrive__wheel {
		display: none;
	}

	.testdrive__name {
		margin-right: 26px;
		color: #E51937;
		position: relative;
		padding-left: 29px;
	}

	.testdrive__name:before {
		position: absolute;
		content: "";
		display: block;
		width: 22px;
		height: 22px;
		left: 0;
		background: url("../images/wheel-red.png");
		background-size: 100% 100%;
	}

	.preview__arrow {
		margin-bottom: 0;
	}

	/* info section */

	.info {
		flex-direction: column;
    min-height: auto;
	}

	.info__title{
		margin: 0;
    padding: 0;
    color: transparent;
    background-image: url(../images/2013-tesla-model-s-cockpit-mobile.png);
    background-position: center top;
    background-size: cover;
    background-size: 100% auto;
    min-height: 323px;
	}

	.info__advantages {
		width: auto;
    padding: 18px 25px 10px 25px;
	}

	.info__advantages__wrap-odds {
		display: none;
	}

	.topic-about-advantages {
		margin-bottom: 30px;
		width: auto;
	}

	.links{
		display: none;
	}

	/* safe section */

	.safe {
		flex-direction: column-reverse;
    min-height: auto;
	}

	.safe__scoring {
		width: auto;
    padding: 18px 25px 0px 25px;
	}

	.topic-about-safe {
		width: auto;
	}

	.safe__scoring__text-wrapper{
		padding-left: 9px;
	}

	.safe__scoring__rate-wrapper {
		display: none;
	}

	.safe__image-wrapper{
		min-height: 294px;
	}

	.safe-image {
		left: 0%;
    top: 18%;
    width: 99%
	}

	.safe__image-wrapper {
		background-position: 100% 19%;
		background-size: 99% auto;
	}

	.footer-wrap {
		display: none;
	}
}

@media (min-width: 481px) and (max-width: 1024px) {

	header {
		margin: 24px 33px 80px 15px;
	}

	.models-nav {
		display: none;
	}

	.site-nav{
		width: 35px;
	}

	.site-nav__item:nth-child(1) {
		display: none;
	}

	.site-nav__item:nth-child(2) {
		display: none;
	}

	.site-nav__item:nth-child(3) {
		width: 35px;
		height: 22px;
		background: url("../images/side_menu_ipad.svg");
	}

	/* preview section */

	.preview{
		background-position: center 14%;
		background-size: 108% auto;
	}

	.preview__title {
		margin-bottom: 96px;
	}

	.preview__general-view {
	  width: 91%;
	  margin-bottom: 40px;
	}

	.preview__about {
		flex-direction: column;
		margin-bottom: 60px;
	}

	.feature-wraper {
		margin-right: 0;
		margin-bottom: 58px;
	}

	.feature:nth-child(1) {
		margin-right: 94px;
	}

	.feature__image_speepometer {
		width: 66px;
		height: 49px;
	}

	.feature__image_road {
		width: 44px;
		height: 72px;
	}

	.speed__value, 
	.road__value {
		font-size: 50px;
		margin-right: 3px;
	}

	.speed__unit,
	.road__unit {
		font-size: 20px;
		margin-bottom: 12px;
	}

	.explanation_speed,
	.explanation_road {
		justify-content: flex-start;
	}

	.testdrive {
		padding-left: 40px;
	}

	.testdrive__wheel {
		display: none;
	}

	.testdrive__name {
  	position: relative;
  	padding-left: 29px;
  	font-size: 16px;
  	color: #E51937;
	}

	.testdrive__order {
		color: #E51937;
		width: 221px;
		height: 55px;
		background: #E51937;
	}

	.testdrive__order-text {
		font-weight: bold;
		font-size: 16px;
		color: #FFFFFF;
	}

	.testdrive__name:before {
  	position: absolute;
  	content: "";
  	width: 31px;
  	height: 31px;
  	right: 128px;
  	bottom: 0;
		background: url("../images/wheel-red-big.png");
		background-size: 100% 100%;
	}

	.preview__arrow {
		margin-bottom: 69px;
	}

	/* info section */

	.info {
		flex-direction: column;
    min-height: auto;
	}

	.info__title {
		width: auto;
    padding: 0;
    padding-right: 46px;
    color: #E51937;
    text-align: right;
    background-image: url(../images/2013-tesla-model-s-cockpit-table.png);
    background-position: center center;
    background-size: cover;
    min-height: 493px;
	}

	.info__advantages {
		flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    padding: 50px 34px 52px 34px;
	}

	.info__advantages__wrap-text {
		width: 45%;
		margin-right: 100px;
		padding-top: 4px;
	}

	.advantages-title {
		margin-bottom: 20px;
		width: auto;
	}

	.topic-about-advantages{
    margin-right: 0;
    margin-bottom: 0;
    width: auto;
	}

	.info__advantages__wrap-odds {
		padding-top: 0px;
		margin-bottom: 72px;
		width: 30%;
	}

	.odds {
		width: auto;
    max-width: 200px;
	}

	.odds__text-wrap {
		width: auto;
	}

	.odds:nth-child(1) {
		margin-bottom: 14px;
	}

	.odds:nth-child(2) {
		margin-bottom: 14px;
	}

	.odds__text-wrap-measure{
		width: auto;
	}

	.wifi_image {
		padding-top: 0;
	}

	.links {
		width: auto;
		height: 55px;
		padding-left: 160px;
	}

	.links-wrap {
		position: relative;
		margin-right: 46px;
	}

	.links-wrap__image {
		display:none;
	}

	.links-wrap__info:before {
		position :absolute;
		content: "";
		display: block;
		right: 160px;
		top: 10px;
    width: 32px;
    height: 32px;
    background: url(../images/i-round-table.svg);
    background-size: 100% 100%;
	}

	.links-wrap__info {
    font-size: 16px;
	}

	.links__order {
		width: 220px;
		height: 55px;
    font-size: 16px;
    padding: 0;
	}

	/* safe section */

	.safe {
		flex-direction: column-reverse;
    min-height: auto;
	}

	.safe__scoring {
		flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    padding: 61px 34px 52px 34px;
	}

	.safe__scoring__text-wrapper {
		width: 45%;
		margin-bottom: 0;
		margin-right: 66px;
	}

	.scoring-title {
		width: auto;
	}

	.topic-about-safe {
		width: auto;
	}

	.safe__scoring__rate-wrapper {
		margin-bottom: 66px;
		width: 45%;
	}

	.rate-wrapper:nth-child(6) {
    margin-bottom: 0; 
	}

	.general-rating-safe {
		display: none;
	}

	.safe__image-wrapper {
		min-height: 540px;
		background-position: center 15%;
		background-size: 75% auto;
	}

	.safe-image {
    top: 15%;
    width: 98%;
	}

	.footer-wrap {
		display: none;
	}
}

@media (min-width: 481px) and (max-width: 600px) { 
	.info__advantages__wrap-text {
		margin-right: 20px;
	}

	.links-wrap {
		margin-right: 10px;
	}
}

@media (min-width: 481px) and (max-width: 650px) { 
	.links {
		padding-left: 30px;
	}
}

@media (min-width: 481px) and (max-width: 730px) { 
	.safe__scoring__text-wrapper {
		margin-right: 20px;
	}

	.safe-rate__text {
		margin-right: 0;
	}
}