@import "font.css";

* {
	font-family: Montserrat;
	margin: 0;
  max-width: 1440px;
}

header {
  display: flex;
  align-items: center;
  margin: 24px 60px 58px 43px;;
}

.header-logo{
  margin-right: 258px;
}

.models-nav {
	display: flex;
	justify-content: space-between;
  font-family: Montserrat;
}

.models-nav__item {
  font-weight: 600;
  font-size: 15px;
  color: #000000	;
  text-decoration: none; 
  margin-right: 25px;
}

.models-nav__item_active {
	color: #E51937;
}

.models-nav__item:nth-child(1){
  margin-right: 63px;
}

.models-nav__item:nth-child(3){
  margin-right: 44px;
}

.models-nav__item:nth-child(4){
  margin-right: 46px;
}

.models-nav__item_active::after {
  content: "";
  background: url(../images/active-line.png) bottom no-repeat;
  display: block;
  width: 60px;
  height: 2px;
  position: relative;
  top: 6px;
}

.site-nav {
	display: flex;
	justify-content: space-between;
  font-family: Montserrat;
  margin-left:165px;
}

.site-nav__item {
	font-weight: 600;
  font-size: 15px;
  color: #000000	;
  text-decoration: none; 
  margin-left: 30px;
}

.preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	background-image: url("../images/tesla-big-logo.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
}

.preview__title {
	font-weight: 600;
  font-size: 90px;
  align-items: center;
}

.preview__subtitle {
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 27px;
}

.preview__about {
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 34px;
}

.feature {
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: 81px;
}

.feature__parameters {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.speed,
.road {
	display: flex;
	flex-direction: row;
}

.speed__value, 
.road__value {
	font-weight: 600;
	font-size: 35px;
}

.speed__unit,
.road__unit {
	font-weight: 600;
	font-size: 20px;
	padding-left: 7px;
	align-self: flex-end;
	padding-bottom: 5px;
}

.explanation_speed {
	font-weight: normal;
	font-size: 12px;
}

.explanation_road  {
	font-weight: normal;
	font-size: 12px;
}

.feature__image_speepometer {
	margin-right: 14px;
}

.feature__image_road {
	margin-right: 14px;
}

.testdrive {
	display: flex;
	align-items: center;
	margin-left: 25px;
}

.testdrive__wheel {
	margin-right: 7px;
}

.testdrive__name {
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	color: #000000;
  text-decoration: none;
  margin-right: 40px;
}

.testdrive__order {
	color: #E51937;
	width: 160px;
	height: 40px;
	text-transform: uppercase;
	box-sizing: border-box;
	text-align: center;
	border: 2px solid;
	background: #FFFFFF;
}

.testdrive__order-text {
	font-weight: bold;
	font-size: 13px;
}