@import "font.css";

* {
	font-family: Montserrat;
	font-weight: normal;
	margin: 0;
  max-width: 1440px;
}

/* site header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 60px 58px 42px;;
}

.models-nav {
	display: flex;
	justify-content: space-around;
}

.models-nav__item {
  font-weight: 600;
  font-size: 15px;
  color: #000000	;
  text-decoration: none; 
  margin-right: 45px;
}

.models-nav__item_active {
	color: #E51937;
}

.models-nav__item_active::after {
  content: "";
  background: url(../images/active-line.png) bottom no-repeat;
  display: block;
  width: 60px;
  height: 2px;
  position: relative;
  top: 6px;
}

.site-nav {
	display: flex;
	justify-content: space-between;
  font-family: Montserrat;
  align-items: center;
}

.site-nav__item {
	font-weight: 600;
  font-size: 15px;
  color: #000000	;
  text-decoration: none; 
  margin-left: 30px;
}

.site-nav__item:nth-child(3) {
	margin-top: 3px;
}

/* site section 1 */

.preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../images/tesla-big-logo.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
}

.preview__general-view {
  width: 100%;
  max-width: 968px;
}

.preview__title {
	font-weight: 600;
  font-size: 90px;
  align-items: center;
}

.preview__subtitle {
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 27px;
}

.preview__about {
  display: flex;
	align-items: center;
	flex-direction: row;
	margin:25px 321px 34px 321px;
}

.feature-wraper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.feature {
  display: flex;
	align-items: center;
}

.feature__parameters-sd {
	display: flex;
	flex-direction: column;
	margin-left: 14px;
}

.feature__parameters-rd {
	display: flex;
	flex-direction: column;
	margin-left: 11px;
}

.speed {
	display: flex;
	flex-direction: row;
}

.road {
	display: flex;
	flex-direction: row;
	margin-top: -3px;
}

.speed__value, 
.road__value {
	font-weight: 600;
	font-size: 35px;
}

.speed__unit,
.road__unit {
	font-weight: 600;
	font-size: 20px;
	padding-left: 7px;
	align-self: flex-end;
	padding-bottom: 5px;
}

.explanation_speed,
.explanation_road {
	font-weight: normal;
	font-size: 12px;
	margin-top: -2px;
}

.feature__image_road {
	margin-top: 8px;
	margin-left: 81px;
}

.testdrive {
	display: flex;
	align-items: center;
	margin-left: 105px;
	margin-top: 3px;
}

.testdrive__wheel {
	margin-right: 7px;
}

.testdrive__name {
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	color: #000000;
  text-decoration: none;
  margin-right: 40px;
}

.testdrive__order {
	color: #E51937;
	width: 160px;
	height: 40px;
	text-transform: uppercase;
	box-sizing: border-box;
	text-align: center;
  padding: 0;
	border: 2px solid;
	background: #FFFFFF;
}

.testdrive__order-text {
	font-weight: bold;
	font-size: 13px;
	margin-left: 2px;
}

/* site section 2 */

/* Медиазапросы */

@media (max-width: 480px) {

	header {
		margin: 5px 21px 30px 2px;
	}

	.models-nav {
		display: none;
	}

	.site-nav__item:nth-child(1) {
		display: none;
	}

  .site-nav__item:nth-child(2) {
    display: none;
  }

	.header-logo {
		width: 138px;
		height: 42px;
	}

	.preview{
		background-position: 55% 23%;
		background-size: 114% auto;
	}

  .preview__title {
    font-size: 50px;
  }

  .preview__subtitle {
    font-size: 10px;
    margin-bottom: 49px;
    margin-top: -4px;
  }

	.preview__general-view {
	  	width: 95%;
	}

  .preview__about {
    flex-direction: column;
    margin: 25px 0 0 0;
  }
 
  .feature:nth-child(1) {
  	margin-left: 10px;
  	margin-right: 43px;
  }

  .feature:nth-child(2) {
  	margin-right: 20px;
  }

  .feature__image_speepometer {
    width: 38px;
    height: 28px;
  }

  .feature__image_road {
    margin-top: 1px	;
    margin-right: 7px;
    margin-left: 0;
    width: 25px;
    height: 41px;
  }

  .road {
  	margin-top: 0;
  }

  .speed__value, 
  .road__value {
    font-size: 27px;
  }

  .speed__unit,
  .road__unit {
    font-size: 15px;
    margin-top: 11px;
  }

	.explanation_speed,
	.explanation_road {
	    font-weight: normal;
	    font-size: 10px;
	    margin-top: -2px;
	}

	.feature__parameters-rd {
		margin-left: 5px;
	}

	.testdrive {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-top: 43px;
    margin-bottom: 31px;
	}

	.testdrive__name {
    margin-right: 25px;
    color: #E51937;
	}

	.testdrive__order {
		color: #E51937;
		background: #E51937;
	}

	.testdrive__order-text {
		font-weight: bold;
		font-size: 13px;
		margin-left: 2px;
		color: #FFFFFF;
	}

	.testdrive__wheel {
		display: none;
	}

	.testdrive__order:before {
		top: -5px;
		width: 30px;
		height: 30px;
		background: url("../images/wheel-red.png");
		background-size: 100% 100%;
	}
}

@media (min-width: 481px) and (max-width: 960px) {
	header {
		margin: 24px 33px 80px 15px;
	}

	.models-nav {
		display: none;
	}

	.site-nav__item:nth-child(1) {
		display: none;
	}

  .site-nav__item:nth-child(2) {
    display: none;
  }

  .site-nav__item:nth-child(3) {
    width: 45px;
    height: 32px;
  }

  .preview{
		background-position: center 22%;
		background-size: 108% auto;
	}

  .preview__subtitle {
    margin-bottom: 87px;
    margin-top: -10px;
  }

  .preview__about {
		flex-direction: column;
		margin: 42px 0 60px 0;
	}

	.feature:nth-child(1) {
  	margin-left: 10px;
  	margin-right: 82px;
  }

  .feature:nth-child(2) {
  	margin-right: 25px;
  }

	.preview__general-view {
	  	width: 91%;
	}

	.feature__image_speepometer {
    width: 66px;
    height: 49px;
  }

  .feature__parameters-sd {
		margin-left: 16px;
		margin-top: -6px;
	}

	.feature__parameters-rd {
		margin-left: 5px;
		margin-top: -4px;
	}

  .feature__image_road {
    margin-top: 1px	;
    margin-right: 7px;
    margin-left: 0;
    width: 44px;
    height: 72px;
  }

  .feature__image_road {
		margin-top: 8px;
		margin-left: 0px;
	}

  .speed {
  	margin-left: 4px;
  }

  .road {
  	margin-top: -6px;
  	margin-left: 5px;
  }

  .speed__value, 
  .road__value {
    font-size: 50px;
    margin-right: 3px;
  }

  .speed__unit,
  .road__unit {
    font-size: 20px;
    margin-bottom: 12px;
    /*margin-left: 	3px;*/
  }

  .explanation_speed,
	.explanation_road {
		justify-content: flex-start;
		margin-top: -4px;
		margin-left: 5px;
	}

	.testdrive {
		/*margin-left: 105px;*/
		margin-top: 55px;
		display: flex;
		justify-content: space-around;
	}

	.testdrive__wheel {
		display: none;
	}

	.testdrive__name {
    font-size: 16px;
    color: #E51937;
	}

	.testdrive__order {
		color: #E51937;
		width: 221px;
		height: 55px;
		background: #E51937;
		margin-right: 60px;
	}

	.testdrive__order-text {
		font-weight: bold;
		font-size: 16px;
		margin-left: 2px;
		color: #FFFFFF;
	}

	.testdrive__name:before {
		top: -5px;
		width: 30px;
		height: 30px;
		background: url("../images/wheel-red.png");
		background-size: 100% 100%;
	}
}