* {
	margin: 0;
  font-family: Montserrat;
	font-weight: normal;
}

body {
	margin: 0;
}

.wrap {
  position: relative;
	min-width: 320px;
	max-width: 1440px;
	margin: 0 auto;
}

/* site header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 60px 58px 42px;
}

.models-nav {
	display: flex;
	justify-content: space-between;
	margin-left: 110px;
}

.models-nav__item {
  font-weight: 600;
  font-size: 15px;
  color: #000000	;
  text-decoration: none; 
  margin-right: 45px;
}

.models-nav__item:after {
  content: "";
  background: url(../images/active-line.svg) bottom no-repeat;
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 6px;
}

.models-nav__item:hover {
	color: #E51937;
}

.models-nav__item:hover:after {
	width: 100%;
}

.models-nav__item-active {
	color: #E51937;
}

.models-nav__item-active:after {
  content: "";
  background: url(../images/active-line.svg) bottom no-repeat;
  display: block;
  width: 100%;
  height: 2px;
  position: relative;
  top: 6px;
}

.site-nav {
	display: flex;
	justify-content: space-between;
  font-family: Montserrat;
  align-items: center;
}

.site-nav__item {
  font-weight: 600;
  font-size: 15px;
  color: #000000	;
  text-decoration: none; 
  margin-left: 30px;
}

.site-nav__item:after {
	content: "";
  background: url(../images/active-line.svg) bottom no-repeat;
  display: block;
  width: 0%;
  height: 2px;
  position: relative;
  top: 6px;
}

.site-nav__item:not(:nth-child(3)):hover{
	color: #E51937;
}

.site-nav__item:not(:nth-child(3)):hover:after{
	width: 100%;
}


.site-nav__item:nth-child(3) {
	content: "";
	display: block;
	width: 24px;
	height: 15px;
	background: url("../images/side_menu.svg");
	background-size: 100% 100%;
}

/* site section 1 */

.preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../images/tesla-big-logo.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
}

.preview__general-view {
  width: 100%;
  max-width: 968px;
}

.preview__title {
	font-weight: 600;
  	font-size: 90px;
  	align-items: center;
}

.preview__subtitle {
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 27px;
}

.preview__about {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin:26px 321px 34px 321px;
}

.feature-wraper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.feature {
  display: flex;
	align-items: center;
}

.feature__parameters-sd {
	display: flex;
	flex-direction: column;
	margin-left: 14px;
}

.feature__parameters-rd {
	display: flex;
	flex-direction: column;
	margin-left: 11px;
}

.speed {
	display: flex;
	flex-direction: row;
}

.road {
	display: flex;
	flex-direction: row;
	margin-top: -3px;
}

.speed__value, 
.road__value {
	font-weight: 600;
	font-size: 35px;
}

.speed__unit,
.road__unit {
	font-weight: 600;
	font-size: 20px;
	padding-left: 7px;
	align-self: flex-end;
	padding-bottom: 5px;
}

.explanation_speed,
.explanation_road {
	font-weight: normal;
	font-size: 12px;
	margin-top: -2px;
}

.feature__image_road {
	margin-top: 8px;
	margin-left: 81px;
}

.testdrive {
	display: flex;
	align-items: center;
	margin-left: 105px;
	margin-top: 3px;
}

.testdrive__wheel {
	margin-right: 7px;
}

.testdrive__name {
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	color: #000000;
  text-decoration: none;
  margin-right: 40px;
}

.testdrive__order {
	color: #E51937;
	width: 160px;
	height: 40px;
	text-transform: uppercase;
	box-sizing: border-box;
	text-align: center;
  padding: 0;
	border: 2px solid;
	background: #FFFFFF;
}

.testdrive__order:hover{
	background: #E51937;
	color: #FFFFFF;
}

.testdrive__order-text {
	font-weight: bold;
	font-size: 13px;
	margin-left: 2px;
}

.preview__arrow {
	margin-bottom: 34px;
}

/* site section 2 */
.info{
	display: flex;
	justify-content: space-between;
	min-height: 900px;
}

.info__title {
	width: 100%;
	margin: 0;
	padding-top: 63px;
	padding-left: 80px;
	background-image: url("../images/2013-tesla-model-s-cockpit.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	font-size: 70px;
	font-weight: 600;
	color: #E51937;
}

.info__advantages {
	display: flex;
	flex-direction: column;
	justify-content:top;
	width: 494px;
	padding: 51px 72px 63px 52px;
	color: #ffffff;
	background-color: #E51937;
}

.advantages-title {
	font-weight: 600;
  font-size: 30px;
  margin: 0 0 11px 0;
}

.topic-about-advantages {
	font-weight: 500;
  font-size: 15px;
  margin: 0 0 54px 0;
  width: 316px;
  height: 206px;
  line-height: 18px;
}

.car-odds {
	position: relative;
	width: 200px;
	margin-bottom: 44px;
}

.display {
  padding-left: 55px;
}

.display:before {
	position: absolute;
	left: 0;
	top: 12px;
	content: "";
	display: block;
	width: 36px;
	height: 53px;
	background: url("../images/screen.svg");
	background-size: 100% 100%;
}

.car-odds__wrap-text {
  margin: 0 0 0 0;
  font-size: 20px;
}

.wrap-text__value {
	margin-right: 6px;
  font-size: 35px;
  font-weight: 600;
}

.wrap-text__units {
	font-weight: 600;
	padding-right: 40px;
}

.car-odds__explanation {
  width: 180px;
  margin: 0;
  font-weight: normal;
  font-size: 12px;
}

.update {
  padding-left: 60px;
  margin-bottom: 25px;
}

.update:before {
  position: absolute;
  left: -3px;
  top: 16px;
  content: "";
  display: block;
  width: 44px;
  height: 34px;
  background: url(../images/wifi.svg);
  background-size: 100% 100%;
}

.update__wireless-update {
  margin: 0 0 1px 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
}

.update__many-functions {
	width: 180px;
  margin: 0;
  font-weight: normal;
  font-size: 12px;
}

.capacity {
	padding-left: 60px;
	margin-bottom: 180px;
}

.capacity:before {
  position: absolute;
  left: 0px;
  top: 14px;
  content: "";
  display: block;
  width: 36px;
  height: 52px;
  background: url(../images/bag.svg);
  background-size: 100% 100%;
}

.links {
	vertical-align: bottom;
  align-self: flex-start;
}

.links__info:before {
  position: absolute;
  left: 0px;
  top: -4px;
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background: url(../images/i-round.svg);
  background-size: 100% 100%;
}

.links__info {
	position: relative;
  padding-left: 29px;
  margin-right: 21px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
}

.links__order {
	padding: 10px 41px;
  border: 2px solid;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  border-color: #ffffff;
  margin-left: 7px;
}

/* site section 3 */

.safe {
  display: flex;
  justify-content: space-between;
  min-height: 900px;
}

.safe__scoring {
  display: flex;
  flex-direction: column;
  justify-content: top;
  width: 344px;
  padding: 51px 72px 0 56px;
  color: #ffffff;
  background-color: #E51937;
}

.safe__scoring-wrapper-stars {
	margin-bottom: 70px;
}

.safe__image-wrapper {
  width: 100%;
  position: relative;
}

.safe-image {
  width: 105%;
  position: absolute;
  top: 45%;
  left: -98px;
  transform: translateY(-40%);
}

.scoring-title {
	margin: 0 0 11px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.topic-about-safe {
	width: 316px;
  margin: 0 0 58px 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.safe__image-wrapper {
	background-image: url("../images/model s.png");
	background-repeat: no-repeat;
	background-position: 100% 19%;
	background-size: 80% auto;
}

.rating-title {
	margin: 0 0 23px 0;
  font-weight: 600;
  font-size: 30px;
}

.safe-rate {
	font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 12px;
}

.safe-rate__text {
	display: inline-block;
	font-weight: 500;
  width: 120px;
  margin-right: 25px;
}

.safe-rate__text-small{
	font-weight: bold;
    font-size: 10px;
    opacity: 0.7;
}

.star-wrapper {
	display: inline-block;
  width: 160px;
}

.scoring-star {
	display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: bottom;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.general-rating-safe {
  position: relative;
  margin-left: 20px;
  padding-left: 75px;
  margin-top: 103px;
  font-weight: 600;
  font-size: 25px;
}

.general-rating-safe:before {
	position: absolute;
  left: -10px;
  top: 9px;
  content: "";
  display: block;
  width: 62px;
  height: 74px;
  background: url(../images/shield.svg);
  background-size: 100% 100%;
}

.general-rating-safe {
	position: relative;
  width: 200px;
}

.general-rating-safe__value {
	font-size: 50px;
	font-weight: 600;
}

.general-rating-safe__safety {
	font-weight: 600;
	margin-top: -9px;
}

/* footer */

.footer-wrap {
  position: absolute;
  bottom: 10px;
  right: 18px;
  width: 95px;
  font-family: 'Montserrat';
}

.developed {
	margin: 0;
  margin-bottom: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 9px;
}

/* Медиазапросы */

@media (max-width: 480px) {
    
	header {
		margin: 5px 21px 30px 2px;
	}

	.models-nav {
		display: none;
	}

	.site-nav__item:nth-child(1) {
		display: none;
	}

	.site-nav__item:nth-child(2) {
		display: none;
	}

	.site-nav__item:nth-child(3) {
		width: 24px;
		height: 15px;
		background: url("../images/side_menu.svg");
	}

	.header-logo {
		width: 138px;
		height: 42px;
	}

	.preview{
		background-position: 55% 23%;
		background-size: 114% auto;
	}

	.preview__title {
		font-size: 50px;
	}

	.preview__subtitle {
		font-size: 10px;
		margin-bottom: 49px;
		margin-top: -4px;
	}

	.preview__general-view {
	  	width: 95%;
	}

	.preview__about {
		flex-direction: column;
		margin: 27px 0 0 0;
	}

	.feature:nth-child(1) {
		margin-left: 10px;
		margin-right: 43px;
	}

	.feature:nth-child(2) {
		margin-right: 20px;
	}

	.feature__image_speepometer {
		width: 38px;
		height: 28px;
	}

	.feature__image_road {
		margin-top: 1px	;
		margin-right: 7px;
		margin-left: 0;
		width: 25px;
		height: 41px;
	}

	.road {
		margin-top: 0;
	}

	.speed__value, 
	.road__value {
		font-size: 27px;
	}

	.speed__unit,
	.road__unit {
		font-size: 15px;
		margin-top: 11px;
	}

	.explanation_speed,
	.explanation_road {
	    font-weight: normal;
	    font-size: 10px;
	    margin-top: -2px;
	}

	.feature__parameters-rd {
		margin-left: 5px;
	}

	.testdrive {
		display: flex;
		align-items: center;
		margin-left: 0;
		margin-top: 42px;
		margin-bottom: 31px;
	}

	.testdrive__order {
		color: #E51937;
		background: #E51937;
	}

	.testdrive__order-text {
		font-weight: bold;
		font-size: 13px;
		margin-left: 2px;
		color: #FFFFFF;
	}

	.testdrive__wheel {
		display: none;
	}

	.testdrive__name {
		margin-right: 25px;
		color: #E51937;
		position: relative;
		padding-left: 29px;
	}

	.testdrive__name:before {
		position: absolute;
		content: "";
		display: block;
		width: 22px;
		height: 22px;
		left: 0;
		top: -3px;
		background: url("../images/wheel-red.png");
		background-size: 100% 100%;
	}

	.preview__arrow {
		margin-bottom: 0;
	}

	.info {
		flex-direction: column;
    min-height: auto;
	}

	.info__title{
		margin: 0;
    padding: 0;
    color: transparent;
    background-image: url(../images/2013-tesla-model-s-cockpit-mobile.png);
    background-position: center top;
    background-size: cover;
    background-size: 100% auto;
    min-height: 350px;
	}

	.info__advantages {
		width: auto;
    padding: 18px 25px 0px 25px;
    margin-top: -27px;
	}

	.info__advantages-wrap {
		display: none;
	}

	.topic-about-advantages {
		margin-bottom: 30px;
		width: auto;
	}

	.links{
		display: none;
	}

	.safe {
		flex-direction: column-reverse;
    min-height: auto;
	}

	.safe__scoring {
		width: auto;
    padding: 18px 25px 0px 25px;
	}

	.topic-about-safe {
		width: auto;
	}

	.safe__scoring-wrapper-stars {
		display: none;
	}

	.safe__image-wrapper{
		min-height: 300px;
	}

	.safe-image {
		left: 49%;
    top: 55%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%
	}

	.safe__image-wrapper {
		background-position: 100% 19%;
		background-size: 99% auto;
	}

	.safe__scoring{
		margin-top: -5px;
	}

	.safe__scoring-wrapper {
		margin-left: 5px;
	}

	.footer-wrap {
		display: none;
	}
}

@media (min-width: 481px) and (max-width: 1024px) {

	header {
		margin: 24px 33px 80px 15px;
	}

	.models-nav {
		display: none;
	}

	.site-nav__item:nth-child(1) {
		display: none;
	}

	.site-nav__item:nth-child(2) {
		display: none;
	}

	.site-nav__item:nth-child(3) {
		width: 35px;
		height: 22px;
		background: url("../images/side_menu_ipad.svg");
	}

	.preview{
		background-position: center 17%;
		background-size: 108% auto;
	}

	.preview__subtitle {
		margin-bottom: 87px;
		margin-top: -10px;
	}

	.preview__about {
		flex-direction: column;
		margin: 40px 0 60px 0;
	}

	.feature:nth-child(1) {
		margin-left: 10px;
		margin-right: 82px;
	}

	.feature:nth-child(2) {
		margin-right: 25px;
	}

	.preview__general-view {
	  	width: 91%;
	}

	.feature__image_speepometer {
		width: 66px;
		height: 49px;
	}

	.feature__parameters-sd {
		margin-left: 16px;
		margin-top: -6px;
	}

	.feature__parameters-rd {
		margin-left: 5px;
		margin-top: -4px;
	}

	.feature__image_road {
		margin-top: 11px	;
		margin-right: 5px;
		margin-left: 2px;
		width: 44px;
		height: 72px;
	}

	.speed {
		margin-left: 4px;
	}

	.road {
		margin-top: -6px;
		margin-left: 5px;
	}

	.speed__value, 
	.road__value {
		font-size: 50px;
		margin-right: 3px;
	}

	.speed__unit,
	.road__unit {
		font-size: 20px;
		margin-bottom: 12px;
	}

	.explanation_speed,
	.explanation_road {
		justify-content: flex-start;
		margin-top: -4px;
		margin-left: 5px;
	}

	.testdrive {
		margin-left: 0;
		margin-top: 54px;
		display: flex;
		justify-content: space-around;
	}

	.testdrive__wheel {
		display: none;
	}

	.testdrive__name {
    	position: relative;
    	padding-left: 29px;
    	font-size: 16px;
    	color: #E51937;
    	margin-left: 48px;
    	margin-right: 42px;
    	margin-top: 5px;
	}

	.testdrive__order {
		color: #E51937;
		width: 221px;
		height: 55px;
		background: #E51937;
		margin-right: 30px;
	}

	.testdrive__order-text {
		font-weight: bold;
		font-size: 16px;
		margin-left: 2px;
		color: #FFFFFF;
	}

	.testdrive__name:before {
    	position: absolute;
    	content: "";
    	display: block;
    	width: 31px;
    	height: 31px;
    	left: -17px;
    	top: -7px;
		background: url("../images/wheel-red-big.png");
		background-size: 100% 100%;
	}

	.preview__arrow {
		margin-bottom: 70px;
	}

	.info {
		flex-direction: column;
    min-height: auto;
	}

	.info__title {
		width: auto;
    margin: 0;
    padding: 0;
    padding-right: 46px;
    color: #E51937;
    text-align: right;
    background-image: url(../images/2013-tesla-model-s-cockpit-table.png);
    background-position: center center;
    background-size: cover;
    min-height: 505px;
	}

	.info__advantages {
		flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    padding: 56px 34px 68px 34px;
    margin-top: -10px;
	}

	.advantages-title {
		margin-bottom: 20px;
	}

	.info__advantages-wrap-text {
		width: 45%;
    margin-right: 0;
	}

	.topic-about-advantages {
		width: auto;
	}

	.info__advantages-wrap{
		width: 50%;
    margin-right: 0;
    margin-left: 0;
	}

	.car-odds {
		width: auto;
    max-width: 200px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 0;
	}

	.display {
		margin-bottom: 30px;
	}

	.update {
		margin-bottom: 20px;
	}

	.capacity {
		margin-bottom: 0;
	}

	.links {
		margin: 0 auto;
		margin-top: 25px;
	}

	.links__info:before {
	  left: 0px;
    top: -6px;
    width: 32px;
    height: 32px;
    background: url(../images/i-round-table.svg);
    background-size: 100% 100%;
	}

	.links__info {
		margin-right: 36px;
    padding-left: 43px;
    font-size: 16px;
	}

	.links__order {
		padding: 12px 48px;
    font-size: 16px;
	}

	.safe {
		flex-direction: column-reverse;
    min-height: auto;
	}

	.safe__scoring {
		flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    padding: 58px 34px 52px 34px;
	}

	.topic-about-safe {
		width: auto;
	}

	.safe__scoring-wrapper {
		width: 46%;
	}

	.topic-about-safe {
	  width: auto;
	}

	.safe__scoring-wrapper-stars {
		width: auto;
    max-width: 45%;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 55px;
	}

	.general-rating-safe {
		display: none;
	}

	.safe__image-wrapper {
		min-height: 540px;
		background-position: center 15%;
		background-size: 75% auto;
	}

	.safe-image {
		left: 47%;
    top: 53%;
    transform: translateX(-50%) translateY(-50%);
    width: 98%;
	}

	.footer-wrap {
		display: none;
	}
}

@media (min-width: 481px) and (max-width: 600px) { 
	.feature:nth-child(1) {
	    margin-right: 0;
	}

	.info__advantages-wrap-text {
		margin-bottom: 100px;
	}
}

@media (min-width: 1025px) and (max-width: 1161px) { 

	.models-nav__item {
	  margin-right: 10px;
	}

	.footer-wrap {
		display: none;
	}
}