@import "font.css";

* {
	font-family: Montserrat;
	margin: 0;
  max-width: 1440px;
}

/* site header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 60px 58px 42px;;
}

.models-nav {
	display: flex;
	justify-content: space-around;
}

.models-nav__item {
  font-weight: 600;
  font-size: 15px;
  color: #000000	;
  text-decoration: none; 
  margin-right: 45px;
}

.models-nav__item_active {
	color: #E51937;
}

.models-nav__item_active::after {
  content: "";
  background: url(../images/active-line.png) bottom no-repeat;
  display: block;
  width: 60px;
  height: 2px;
  position: relative;
  top: 6px;
}

.site-nav {
	display: flex;
	justify-content: space-between;
  font-family: Montserrat;
  align-items: center;
}

.site-nav__item {
	font-weight: 600;
  font-size: 15px;
  color: #000000	;
  text-decoration: none; 
  margin-left: 30px;
}

.site-nav__item:nth-child(3) {
	margin-top: 3px;
}

/* site section 1 */

.preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../images/tesla-big-logo.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
}

.preview__title {
	font-weight: 600;
  font-size: 90px;
  align-items: center;
}

.preview__subtitle {
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 27px;
}

.preview__about {
  display: flex;
	align-items: center;
	flex-direction: row;
	margin:25px 321px 34px 321px;
}

.feature {
  display: flex;
	align-items: center;
}

.feature__parameters-sd {
	display: flex;
	flex-direction: column;
	margin-left: 14px;
}

.feature__parameters-rd {
	display: flex;
	flex-direction: column;
	margin-left: 11px;
}

.speed {
	display: flex;
	flex-direction: row;
}

.road {
	display: flex;
	flex-direction: row;
	margin-top: -3px;
}

.speed__value, 
.road__value {
	font-weight: 600;
	font-size: 35px;
}

.speed__unit,
.road__unit {
	font-weight: 600;
	font-size: 20px;
	padding-left: 7px;
	align-self: flex-end;
	padding-bottom: 5px;
}

.explanation_speed,
.explanation_road {
	font-weight: normal;
	font-size: 12px;
	margin-top: -2px;
}

.feature__image_road {
	margin-top: 8px;
	margin-left: 81px;
}

.testdrive {
	display: flex;
	align-items: center;
	margin-left: 105px;
	margin-top: 3px;
}

.testdrive__wheel {
	margin-right: 7px;
}

.testdrive__name {
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	color: #000000;
  text-decoration: none;
  margin-right: 40px;
}

.testdrive__order {
	color: #E51937;
	width: 160px;
	height: 40px;
	text-transform: uppercase;
	box-sizing: border-box;
	text-align: center;
	border: 2px solid;
	background: #FFFFFF;
}

.testdrive__order-text {
	font-weight: bold;
	font-size: 13px;
	margin-left: 2px;
}

/* site section 2 */

/* Медиазапросы */

@media (max-width: 480px) {
	header {
		margin: 5px 21px 30px 2px;
	}

	.models-nav {
		display: none;
	}

	.site-nav {
		display: none;
	}

	.header-logo {
		width: 138px;
		height: 42px;
	}

	.preview{
		background-position: center 25%;
	}
}

@media (min-width: 481px) and (max-width: 960px) {

}